.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #29174b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #666afb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root{
  --ion-color-primary: #371638;
  --ion-color-primary-contrast: #dac6c6;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #522e53;
  --ion-color-primary-tint: #140c14;
  --ion-color-secondary: #8a518a;
  --ion-color-secondary-contrast: #dac6c6;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #522e53;
  --ion-color-secondary-tint: #140c14;
}
